.ver-viaje-container{
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
    background-color: var(--main-background-color);
}