.ver-viaje-container{
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
    background-color: var(--main-background-color);
    padding-top: 10rem;
}

.direc-vehiculo{
    display: flex;
    flex-direction: row;
}

.direc-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.vehiculo-container{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
}

.data-conteiner{
    display: flex;
    flex-direction: row;
}

.header-container{
    display: flex;
    flex-direction: row;
}

.title-container{
    width: 100%
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    padding-right: 3.5rem;
}

.busqueda-container{
    /*background-color: snow;*/
    padding-top: 2.5rem;
}

/*.textarea-container{
    height: auto;
    max-height: 200px;
    margin: .5rem; 
    padding-right: 1rem;
}

.textarea1{
    max-height: 100%;
    margin-left: .5rem;
}*/

