.modificar-viaje-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--main-background-color);
    padding: 2rem;
}
.span-container{
    display: flex;
    text-align: left;
    padding: 1rem;
}

.segunda-parte{
    display: flex;
    flex-direction: row;
    position: relative;
    /* height: 100%; */
}

.input{
    /* position: absolute; */
    width: auto;
    height: auto;
    margin: 1.25rem;
}
.parrafo{
    padding-top: .5rem;
    margin: 1rem;
    margin-left: 0;
    width: 15%;
    /* position: absolute;
    top: 15%;
    left: 5%; */
}

.parrafo-2{
    padding-top: .5rem;
    margin: 1rem;
    margin-left: 1.5rem;
    /* position: absolute;
    top: 15%;
    right: 15%; */
}

.slect-container{
    margin: 1rem;
    width: 30%;
    /* position: absolute;
    top: 15%; */
} 

.input-precio{
    padding-top: 1rem;
}

.checkbox-container{
    margin: 1rem;
    padding-top: .5rem;
}

.textarea-conteiner{
    height: auto;
    max-height: 200px;
    margin: .5rem; 
    padding-right: 1rem;
}

.textarea{
    max-height: 100%;
    margin-left: .5rem;
}