.eliminar-pasajero-component-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: var(--main-background-color);
    padding: 4px;
}

.btn-opcion{
    padding: 4px;
}