.lista-viajes-component-container{
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.grilla-container{
    height: 70%;
    margin: 1rem;
}

.home-ref-button{
    display: flex;
    justify-content: flex-end;
}
.hr-line{
    padding: 1rem;
}

.busqueda-container{
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 85%;
}
.programar-viaje-mas-button{
    display: flex;
    font-size:2rem;
    font-weight:bold;
    align-items: center;
    justify-content:center;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 1rem;
    transition-duration: .4s;
    background-color: rgb(219, 219, 219);
}

.programar-viaje-mas-button:hover{
    transition-duration: .4s;
    background-color: rgb(190, 190, 190);

}

.etiquetas-container{
    position: relative;
    display: flex;
    width: 80%;
    min-height: 40px;
    border: 1px solid black;
    margin: 1rem;
    margin-left: 5rem;

}

.vl{
    position: absolute;
    height: 100%;
    left: 50%;
    border-left: 1px solid black;
}

.etiqueta1{
    position: absolute;
    left: .5%
}

.etiqueta2{
    position: absolute;
    padding: .5rem;
    left: 50.5%;
}