*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --main-background-color: hsl(0, 0%, 40%);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(51, 51, 51);
}