.eliminar-viaje-component-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--main-background-color);
    width: 100%;
    height: 100vh;
    padding: 4px;
}

.titulo{
    margin-bottom: 2rem;
}

